---
import "../styles/global.css";
import Layout from '../layouts/Layout.astro';
import { Button } from "antd";
---

<Layout>

    <div class="flex flex-col min-h-screen">
        <div class="w-full title-box flex flex-col items-center justify-center px-8">
            <span class="w-full flex flex-col justify-center">
                <h1 class="text-center">S.A.G.E</h1>
                <h2 class="text-center">Soil Analysis & Ground Evaluation</h2>
            </span>
        
            <div class="w-full flex justify-center mt-24">
                <Button className="btn" client:only type="primary">Download Progress Report</Button>
                    <!--
                <div>
                    <Button client:only></Button>
                    <Button client:only></Button>
                    <Button client:only></Button>
                </div>
                -->
            </div>
        </div>

        <div class="w-full h-full flex flex-col items-center justify-center py-30 px-8">
                <h4 class="text-center pb-8">Objective</h4>
                <p class="pb-10">
                    The primary objective of the S.A.G.E. project is to develop a user-friendly,
                    IoT-based soil monitoring system using ESP32 microcontrollers and affordable
                    sensors, providing real-time tracking of key soil parameters such as moisture,
                    pH, temperature, and nutrient levels (NPK). The system aims to deliver immediate
                    feedback, allowing small and medium-scale farmers to make data-driven decisions
                    quickly, reducing their dependence on slow, costly lab tests. Additionally,
                    the project includes the creation of web and mobile applications to visualize
                    soil data, manage multiple devices, and support historical analysis, thereby 
                    promoting sustainable farming practices and enhancing crop productivity through 
                    accessible technology.



                </p>

                <h4 class="text-center pb-8">The Problem</h4>
                <p>
                    Soil conditions can change rapidly, often without visible warnings. 
                    Contaminants like heavy metals, or excess chemical fertilizers can seep into the soil.
                    While factors like erosions and over-irrigation can disrupt soil nutrient balance.
                    These factors can reduce crop yields, wasted resources, and long-term harm to the soil.
                    Typically, farmers rely on traditional soil tests, which require sending samples to labs.
                    This means results can be delayed and expensive. It is possible for the results to arrive
                    at a point where the damage is already done, forcing farmers to bear the costs of corrective
                    measures or accept yield losses.
                    
                    Hence there is a need for:
                    Real-Time soil monitoring, especially for those who lack the necessary funds or logistical support,
                    particularily small to medium-scale farmers. A continous, reliable, and cost-effective soil monitoring product. 

                    This is the driving force for: <b>S.A.G.E</b> Creating an IoT-based solution for Smart Agriculture.
                    Available to small-scale farming operations, individual garderners, shared agricultural spaces, and even
                    Researchers. 

                    This is because throughout development we priotize on building a modular system that can accept more sensors,
                    depending on the needs of the user. Planning for the future, a greener future!
                </p>
        </div>
 
    </div>

</Layout>


<style>

    :root {
        --color-bg: #fff;
        --color-border: #f0f0f0;
        --color-text: rgba(0, 0, 0, 0.65);
        --color-hover: #71c44a;
        --color-selected: #519631;
        --color-primary: #519631;
    }

    @layer base {
        h1 {
            font-size: var(--text-8xl);
            @media screen and (max-width: 768px) {
                font-size: var(--text-6xl);
            }
            font-family: "Ubuntu sans", sans-serif;
            font-weight: 900;
            color: white;
        }
        h2 {
            font-size: var(--text-3xl);
            @media screen and (max-width: 768px) {
                font-size: var(--text-2xl);
            }
            font-family: "Ubuntu sans", sans-serif;
            font-weight: 700;
            color: white;
            text-shadow: 1px 1px 4px #000000;

        }
        h3 {
            font-size: var(--text-2xl);
            font-family: "Ubuntu sans", sans-serif;
        }

        h4 {
            font-size: var(--text-4xl);
            @media screen and (max-width: 768px) {
                font-size: var(--text-3xl);
            }
            font-family: "Ubuntu sans", sans-serif;
            font-weight: 700;

        }

        a {
            color: var(--color-blue-600);
            text-decoration-line: underline;
        }
    }

    .btn{
        background-color: var(--color-primary);
        font-family: 'Inter', sans-serif;
        min-height: 40px;
    }
    .btn:hover{
        background-color: var(--color-hover) !important;
    }
    .title-box {
        background-image: url('../assets/background_index.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: calc(100vh - 64px);
    }

    p {
        font-family: 'Inter', sans-serif;
    }
</style>